.intro__container h4, nav a, nav a:hover, footer a {
  color: white;
  letter-spacing: .09em;
}

.container__text, .intro__container h4 {
  margin-left: 10%;
}

#about {
  padding-top: 10%;
}

.skills h2, .lang_tools h3, .proj_container h1, .about-me {
  padding-bottom: 5%;
}

.skills-section, #about {
  color: #595959;
}

.skills-section {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
}

.projs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header img, #intro {
  width: 100%;
  height: 100%;
}

header img {
  position: absolute;
  top: 0;
}

nav, .arrow-container, .skills-section, .skills-section h1, .skills-container, .tools {
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

nav a {
  -webkit-transition: background-color 350ms ease-in-out 0;
  transition: background-color 350ms ease-in-out 0;
}

body {
  background-color: #EEEEEE;
}

html {
  scroll-behavior: smooth;
}

header {
  position: relative;
  text-align: none;
  height: 90vh;
  font-family: "Roboto";
  -webkit-box-shadow: 0px 10px 10px -4px gray;
          box-shadow: 0px 10px 10px -4px gray;
}

header img {
  max-width: 100%;
  z-index: 0;
  -webkit-filter: grayscale(10);
          filter: grayscale(10);
}

#intro {
  background-color: rgba(46, 125, 50, 0.8);
  position: relative;
  z-index: 1;
}

.intro__container {
  padding-top: 20%;
}

.container__text {
  font-family: "Exo 2";
  color: white;
  font-size: 3em;
}

.intro__container h4 {
  font-family: "Roboto Condensed";
  color: whitesmoke;
}

.nav--container {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
}

nav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav a {
  font-family: "Roboto Condensed";
  text-decoration: none;
  margin-top: 1%;
  padding: .5% 2%;
  border-radius: 30px;
  font-size: .8em;
}

nav a:hover {
  cursor: pointer;
  background: #2E7D32;
}

nav a.this {
  color: #2E7D32;
  background-color: white;
}

.indicator {
  padding-right: 1.2%;
  height: 100vh;
  width: 1.5%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
}

.circles {
  padding-right: 10%;
  position: relative;
  top: 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 6px;
  width: 6px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: background-color 500ms ease-in-out 0ms;
  transition: background-color 500ms ease-in-out 0ms;
}

.circles.here {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.circles.gray {
  background-color: gray;
}

.arrow-container {
  width: 100%;
  height: 5em;
  position: absolute;
  top: 90%;
}

.arrow {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  margin-right: 47.5%;
  margin-left: 47.5%;
  z-index: 99;
  height: 5em;
  width: 5%;
}

.skills-section {
  position: relative;
  text-align: center;
  height: auto;
  width: 90%;
  padding-top: 5%;
}

.skills-section h1 {
  font-family: "Exo 2";
  padding: 1.25em;
  width: 30%;
}

.skills-container {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23.5%  23.5% 23.5% 23.5%;
      grid-template-columns: 23.5%  23.5% 23.5% 23.5%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 2%;
}

.skills img {
  height: 9.37em;
  width: 9.37em;
}

.skills h2 {
  font-family: "Roboto";
  font-size: 1.5em;
}

.skills p {
  font-family: "Roboto Condensed";
  color: #999999;
  font-size: 1.15em;
}

.skills.one {
  -ms-grid-column: 1;
  grid-column: 1;
}

.skills.two {
  -ms-grid-column: 2;
  grid-column: 2;
}

.skills.tri {
  -ms-grid-column: 3;
  grid-column: 3;
}

.skills.for {
  -ms-grid-column: 4;
  grid-column: 4;
}

.lang_tools h3 {
  font-family: 'Franklin Gothic Medium';
}

.tools {
  width: 70%;
}

.tools img {
  height: 3.125em;
}

.proj_container {
  position: relative;
  text-align: center;
  color: #595959;
}

.proj_container h1 {
  font-family: "Exo 2";
  padding-top: 10%;
}

.projs {
  position: relative;
  top: 15%;
}

.proj1, .proj2 {
  position: relative;
  width: 40%;
  height: 100%;
  overflow: hidden;
}

.js {
  width: 100%;
}

.proj1:hover .window1, .proj2:hover .window2 {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.window1, .window2 {
  position: absolute;
  top: 0;
  background: #2E7D32;
  width: 100%;
  height: inherit;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
  -webkit-transition: -webkit-transform 350ms ease 0;
  transition: -webkit-transform 350ms ease 0;
  transition: transform 350ms ease 0;
  transition: transform 350ms ease 0, -webkit-transform 350ms ease 0;
}

.window1 h3, .window1 p, .window1 a, .window2 h3, .window2 p, .window2 a {
  padding-top: 15%;
  color: white;
  font-family: "Roboto Condensed";
  font-size: 1em;
}

.window1 p, .window2 p {
  padding-top: 5%;
  padding-bottom: 10%;
  color: #cccccc;
}

.window1 a, .window2 a {
  border-radius: 1.875em;
  padding: .625em 1.875em;
  text-decoration: none;
  border: 3px solid white;
  -webkit-transition: background-color 350ms;
  transition: background-color 350ms;
  -webkit-transition: background-color 350ms ease-in-out 0;
  transition: background-color 350ms ease-in-out 0;
}

.window1 h3, .window2 h3 {
  font-family: "Roboto";
  font-size: 1.2em;
}

.window1 a:hover, .window2 a:hover {
  background: #205823;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#about {
  position: relative;
  text-align: none;
  padding-bottom: 10%;
  font-family: 'Franklin Gothic Medium';
}

#about .profile {
  text-align: center;
}

#about .profile {
  position: relative;
  top: 20%;
  height: 80%;
}

#about p {
  font-family: "Roboto Condensed";
}

.about-container {
  background-color: #FAFAFA;
  border-radius: 10px;
  position: relative;
  top: 15%;
  margin: 0 auto;
  height: auto;
  width: 70%;
}

.profile {
  padding-top: 5%;
}

.profile img {
  height: 9em;
  width: 9em;
  border-radius: 60%;
  padding-bottom: 2%;
}

.profile h2 {
  font-family: "Roboto";
}

img.soc-med {
  height: 3.5em;
  width: 3.5em;
  padding-bottom: 0;
}

.about-me {
  width: 70%;
  margin: 0 auto;
}

footer {
  height: 80px;
  width: 100%;
  background: #2E7D32;
  text-align: center;
  font-family: "Roboto Condensed";
  padding-top: 20px;
}

footer a {
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 0;
  padding: 2.5px 15px;
  -webkit-transition: color 350ms;
  transition: color 350ms;
}

footer p {
  padding-top: 2%;
  font-size: 13px;
  color: white;
}

@media screen and (max-width: 1200px) and (min-height: 992px) {
  header {
    height: 70vh;
  }
}

@media screen and (max-width: 1008px) {
  .skills h2 {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 992px) {
  .skills img {
    height: 8.5em;
    width: 8.5em;
  }
  .skills h2 {
    font-size: 1.1em;
  }
  .skills p {
    font-size: 1.09em;
  }
  .window1 h3, .window2 h3 {
    padding-top: 10%;
  }
}

@media screen and (max-width: 864px) {
  .skills p {
    font-size: 1em;
  }
  .window1 h3, .window2 h3 {
    font-size: 1em;
  }
  .window1 p, .window2 p {
    font-size: .9em;
  }
}

@media screen and (max-width: 600px) {
  .container__text, .skills h2 {
    font-size: 1.2em;
  }
  .lang_tools h3, .profile h2, .details h3 {
    font-size: 1em;
  }
  .skills p, .profile p {
    font-size: .8em;
  }
  .proj1, .proj2, .js, .window1, .window2 {
    width: 100%;
    height: 100%;
  }
  header {
    height: 350px;
    background-color: whitesmoke;
  }
  header img {
    height: 100%;
  }
  .intro__container {
    padding-top: 20%;
    margin: 0 auto;
    width: 80%;
  }
  #intro {
    height: 90%;
    text-align: center;
  }
  #intro .container__text, #intro h4 {
    margin-left: 0%;
  }
  #intro h4 {
    font-size: .9em;
  }
  .container__text {
    display: inline;
    text-shadow: none;
  }
  .nav--container {
    height: 10%;
    position: relative;
    background-color: rgba(46, 125, 50, 0.8);
  }
  .indicator {
    display: none;
  }
  nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Dubai Light';
  }
  nav a {
    margin-top: 0;
    padding: 0% 10%;
    border-radius: 0;
    text-align: center;
    font-size: .9em;
  }
  nav a.this, nav a:hover {
    background-color: unset;
  }
  nav a.home {
    display: none;
  }
  .arrow-container {
    display: none;
  }
  .skills-section {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    padding-bottom: 5%;
  }
  .skills-section, .proj_container {
    height: auto;
  }
  .skills-section h1, .proj_container h1 {
    font-size: 1.5em;
  }
  .skills-container {
    -ms-grid-columns: 45% 45%;
        grid-template-columns: 45% 45%;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    grid-column-gap: 10%;
    grid-row-gap: 10%;
    width: 95%;
  }
  .skills.one, .skills.two, .skills.tri, .skills.for {
    width: 100%;
  }
  .skills.one, .skills.tri {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .skills.two, .skills.for {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .skills.one, .skills.two {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .skills.tri, .skills.for {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .skills {
    width: 50%;
  }
  .skills img {
    height: 6em;
    width: 6em;
  }
  .lang_tools {
    padding-top: 5%;
  }
  .tools img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .proj_container h1 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .proj_container {
    padding-bottom: 20%;
  }
  .projs {
    top: 5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80%;
        grid-template-columns: 80%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    grid-row-gap: 5%;
  }
  .proj1, .proj2 {
    -ms-grid-column: 1;
    grid-column: 1;
    overflow: hidden;
  }
  .proj1:hover .window1, .proj2:hover .window2 {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .window1, .window2 {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    background: #2E7D32;
  }
  .window1 h3, .window1 p, .window1 a, .window2 h3, .window2 p, .window2 a {
    color: white;
  }
  .window1 h3, .window2 h3 {
    padding-top: 10%;
  }
  .window1 a, .window2 a {
    border-color: white;
    font-size: .8em;
    padding: .5em 2em;
    border: 1px solid white;
  }
  .proj1 {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .proj2 {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #about {
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .about-container {
    width: 90%;
  }
  .profile, .details {
    padding-top: 10%;
    padding-bottom: 10%;
    position: relative;
    top: -20%;
  }
  .profile img {
    height: 6em;
    width: 6em;
  }
  img.soc-med {
    width: 4em;
    height: 4em;
  }
  .about-me {
    width: 90%;
    padding-top: 0%;
  }
  .about-me p {
    font-size: .8em;
  }
  footer {
    padding-bottom: 5%;
    height: 50px;
  }
  footer a {
    border: none;
  }
}

@media screen and (max-width: 457px) {
  header {
    height: 300px;
  }
  header h4 {
    display: none;
  }
  .intro__container {
    padding-top: 20%;
  }
  nav a {
    padding: 0% 7%;
  }
  .skills-container {
    -ms-grid-columns: 47.5% 47.5%;
        grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 2%;
    grid-row-gap: 5%;
  }
  .skills img {
    height: 5em;
    width: 5em;
  }
  .skills h2 {
    font-size: 1em;
  }
  .lang_tools h3 {
    padding-top: 10%;
  }
  .tools img {
    height: 2.5em;
  }
  #about {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: whitesmoke;
    height: auto;
  }
  .about-container {
    background-color: unset;
    position: static;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
  .profile img {
    height: 6em;
    width: 6em;
    padding-bottom: 10%;
  }
  footer {
    padding-bottom: 2.5%;
  }
  footer p {
    padding-top: 2.5%;
    font-size: .7em;
  }
}

@media screen and (max-width: 405px) {
  .intro__container {
    width: 60%;
    margin: 0 auto;
  }
  nav a {
    font-size: .8em;
  }
  .skills h3 {
    font-size: .7em;
  }
  .skills-container {
    width: 100%;
  }
  .proj_container h1 {
    padding-top: 10%;
  }
  #about {
    padding: 0;
  }
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile {
    padding-bottom: 5%;
  }
  .profile img {
    padding-bottom: 0%;
  }
  .profile h2 {
    padding-top: 5%;
  }
  img.soc-med {
    height: 3.5em;
    width: 3.5em;
  }
  .about-me {
    width: 70%;
    margin: 0 auto;
  }
  footer a {
    font-size: .7em;
  }
}
/*# sourceMappingURL=style.css.map */